---
layout: page
title: EZLife Bio
permalink: /
---
<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <center>
          <h1 class="animated fadeInUp">EFIRM</h1>
          <p class="animated fadeInUp">Rethinking molecular diagnostics</p>
          </center>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Accurate. Non-invasive. Rapid </h2>
            </div>
          <p> EFIRM (<b>e</b>lectric <b>f</b>ield <b>i</b>nduced <b>r</b>elease and <b>m</b>easurement) is EZLife Bio's core for performing accurate disease testing. EFIRM is robust, rapid, PCR-free,and sample extraction free: electrochemical biosensors are effectively leveraged to streamline testing. </p>
          
          <p>Only a drop (20 uL) of blood or saliva is needed to achieve nearly perfect detection of targets in as little as 30 minutes. As a company, EZLife Bio is poised to reshape and radically simplify how testing is done.  </p>
          <a class="btn btn-default btn-call-to-action" href="/science/" >Read more about the science behind EFIRM</a>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>EFIRM: A complete system for molecular detection</h2>
      <p><font color="#333333">EZLife Bio's system offers a complete solution from sample to answer. The <b>Oasis Saliva Collector</b> allows for rapid, non-invasive collection of saliva. Saliva can then be placed in the <b>EFIRM96 Device</b> for rapid detection of biomarkers. Finally, this data can be uploaded to the <b>EZLife EasyData platform</b> for rapid data and result reporting.</font> </p>
      <a href="product" class="btn btn-view-works">Read more about our product</a>
    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Applications</h2>
        <p>EFIRM: Versatility and power combined </p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-ios-pulse"></i>
          <h4>Health Monitoring</h4>
          <p>Non-invasively monitoring of biomarkers to track treatment response and recurrence </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-search"></i>
          <h4>Disease Screening</h4>
          <p>Unparalled ability to detect biomarkers, even in early stage disease</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-waterdrop"></i>
          <h4>Non-Invasive Detection</h4>
          <p>The only platform to work on both blood and saliva</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-bug"></i>
          <h4>Pathogen Analysis</h4>
          <p>E Coli or S. Aureus easily analyzed from a small amount of specimen </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-ios-rose-outline"></i>
          <h4>Lifestyle and Beauty</h4>
          <p>Allows easy measurement of hormone and health indicators </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-leaf"></i>
          <h4>Life Science Research</h4>
          <p> Versatile detection of a wide panel of novel markers </p>
        </div>
      </div>
   
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-earth"></i>
          <h4>Global Health</h4>
          <p>Capable of being deployed in limited resource settings </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-erlenmeyer-flask"></i>
          <h4>Chemical Analysis</h4>
          <p>Easy to use platform for analytical chemistry and nanotechnology research</p>
        </div>
      </div>
    </div>
     <a class="btn btn-default btn-call-to-action" href="/contact/" >Learn more about our custom development services!</a>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
       <!-- <div class="block">
          <h2>Our team</h2>
          <p>Our team of scientists and physicians is ready to work with you to explore new research and clinical applications to EFIRM. </p>
          <br>
           <div class="row">
              <div class="col-sm-8 col-md-4">
              <img src="img/strom.jpg" class="img-circle" width="250" height="250"> <br> 
              Charles Strom, MD PhD
              </div>
             <div class="col-sm-8 col-md-4">
               <img src="img/liao.jpg" class="img-circle" width="250" height="250">  <br>
              Wei Liao, PhD
              </div>
             <div class="col-sm-8 col-md-4">
               <img src="img/bender.jpg" class="img-circle" width="250" height="250">  <br>
              Richard Bender, MD
              </div>
         
          </div> --> 
          
          
          
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>About EZLife Bio</h2>
        <p>Founded in 2016, EZLife Bio rethinks how molecular diagnostics is done with the EFIRM technology.  Our platform is user-friendly, with precise and accurate product assertions backed by rigorous scientific data. At EZLife Bio, we hope to transofrm the landscape of molecular testing. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
